* {
    background-color: black;
    color: orange;
}

.project-container {
    border: 2px solid red;
}

.item-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}